*, *:hover{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(#d6f3ea, #b180c5);
}

body{
    position: absolute;
    width: 100%;
    height: 100%;
}

.container{
    width: 800px;
    margin: 120px auto 0;
    padding: 0 40px;
    position: relative;
}

.game-title{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
}

.score{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 50px;
}

.user-score, .computer-score, .draw-score{
    display: flex;
    gap: 5px;
    font-size: 25px;
}

.choices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.choice-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.img{
    width: 180px;
    height: 180px;
}

.display-result{
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.user-result, .computer-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

#user-choice-value, #computer-choice-value {
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.reset-btn{
    position: absolute;
    right: 0;
    margin-right: 40px;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background: #d5eee9;
    color: #8300c3;
    border: 1px solid #9d3bcd;
    cursor: pointer;
    transition: .3s ease-in-out
}

.reset-btn:hover{
    background: #9d3bcd;
    color: #d5eee9;
}

.win, .rules{
    display: flex;
    width: 500px;
    margin: 0 auto;
    height: 350px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 250px;
    right: 0;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.win{
    background: #f09bff;
    color: #f0fffc;
    font-size: 68px;
}

.rules{
    flex-direction: column;
    gap: 10px;
    background: #d6f3ea;
    color: #222726;
}

.rules-text{
    font-size: 38px;
    max-width: 400px;
    text-align: center;
}

.btn-start{
    font-size: 24px;
    font-weight: bold;
    background: #627b73;
    color: aliceblue;
    width: 90px;
    padding: 5px;
    border: none;
    box-shadow: 0px 2px 2px #000;
    border-radius: 5px;
    position: relative;
    bottom: -30px;
    cursor: pointer;
}

.btn-start:hover{
    background: #1d5945;
}